/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.gem

/app/assets/components/polymer
/app/assets/components/webcomponentsjs
/app/assets/components/hydrolysis
/app/assets/components/marked
/app/assets/components/marked-element
/app/assets/components/prism
/app/assets/components/prism-element
/app/assets/components/promise-polyfill
/app/assets/components/sw-toolbox
/app/assets/components/web-animations-js
/app/assets/components/iron-*
/app/assets/components/paper-*
/app/assets/components/platinum-*
/app/assets/components/neon-*

/app/assets/components/**/test
/app/assets/components/**/demo
/app/assets/components/**/bin
/app/assets/components/**/doc
/app/assets/components/**/man
/app/assets/components/**/examples
/app/assets/components/**/.editorconfig
/app/assets/components/**/.gitattributes
/app/assets/components/**/.jscsrc
/app/assets/components/**/.jshintrc
/app/assets/components/**/wct.conf.json
/app/assets/components/**/bower.json
/app/assets/components/**/package.json
/app/assets/components/**/Gruntfile.js
/app/assets/components/**/gulpfile.js
/app/assets/components/**/index.html
/app/assets/components/**/README.md
/app/assets/components/**/LICENSE
/app/assets/components/**/LICENSE.md
/app/assets/components/**/CONTRIBUTING.md
/app/assets/components/**/hero.svg
